@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  background: #20232a;
}
.container h1 {
  color: rgb(97, 218, 251);
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
}
.container > p {
  color: #fff;
}
.connecter {
  margin: 35px auto;
  background: #ccc;
  border-radius: 12px;
  padding: 25px;
}
.connecter h2 {
  margin: 0 0 35px;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
}
.connecter button {
  font-size: 2em;
  background: #20232a;
  color: rgb(97, 218, 251);
  border: none;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  border-radius: 12px;
  transition: 0.3s;
}
.connecter button:hover {
  color: #fff;
  background: #000;
}
.connecter > p {
  font-size: 1.2em;
  text-align: center;
  margin: 0 0 25px;
  color: #980000;
}
.connecter p.downloading {
  font-size: 2em;
  color: #333;
}
